<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PolluteRecordMapper">

	<select id="findPolluteRecordViewList" parameterType="PolluteRecordQuery" resultType="PolluteRecordView">
		<if test="endRowNum != 0">
			select * from (
				select t.*, rownum rn from (
		</if>

			select
				pr.ID as id,
				pr.QCP_ID as qcpId,
				pr.MATCHED_SAMPLE_ID as matchedSampleId,
				pr.MATCH_DATE as matchDate,
				pr.SAME_NUM as sameNum,
				pr.DIFF_NUM as diffNum,
				pr.REMARK as remark,
				pr.SAMPLE_SOURCE_GENE_ID as sampleSourceGeneId,
				qc.FULL_NAME as qualitySampleName,
				qc.SAMPLE_NO as qualitySampleNo,
				qc.GENOTYPE_INFO as qualityGenotypeInfo,
				si.SAMPLE_NO as matchSampleNo,
				gi.GENOTYPE_INFO as matchGenotypeInfo
			from POLLUTE_RECORD pr, QUALITY_CONTROL_SAMPLE qc, SAMPLE_SOURCE_GENE gi, SAMPLE_INFO si
				where pr.QCP_ID=qc.ID
					and pr.SAMPLE_SOURCE_GENE_ID=gi.ID
					and pr.MATCHED_SAMPLE_ID=si.ID
			<if test="qualitySampleNo != null">
				AND qc.SAMPLE_NO=#{qualitySampleNo, jdbcType=VARCHAR}
			</if>
			<if test="qcpId != null">
				AND pr.QCP_ID=#{qcpId, jdbcType=VARCHAR}
			</if>

		<if test="endRowNum != 0">
			) t
			<![CDATA[
				where rownum <= #{endRowNum}) where rn >= #{startRowNum}
			]]>
		</if>
	</select>

	<select id="findPolluteRecordViewListCount" parameterType="PolluteRecordQuery" resultType="int">
		select count(pr.ID)
		from POLLUTE_RECORD pr, QUALITY_CONTROL_SAMPLE qc, SAMPLE_SOURCE_GENE gi, SAMPLE_INFO si
			where pr.QCP_ID=qc.ID
					and pr.SAMPLE_SOURCE_GENE_ID=gi.ID
					and pr.MATCHED_SAMPLE_ID=si.ID
		<if test="qualitySampleNo != null">
			AND qc.SAMPLE_NO=#{qualitySampleNo, jdbcType=VARCHAR}
		</if>
		<if test="qcpId != null">
			AND pr.QCP_ID=#{qcpId, jdbcType=VARCHAR}
		</if>
	</select>


	<insert id="insertPolluteRecord" parameterType="PolluteRecord">
		insert into POLLUTE_RECORD(
			ID,
			QCP_ID,
			MATCHED_SAMPLE_ID,
			MATCH_DATE,
			SAME_NUM,
			DIFF_NUM,
			REMARK,
			SAMPLE_SOURCE_GENE_ID
		) values (
			#{id, jdbcType=VARCHAR},
			#{qcpId, jdbcType=VARCHAR},
			#{matchedSampleId, jdbcType=VARCHAR},
			#{matchDate, jdbcType=TIMESTAMP},
			#{sameNum, jdbcType=INTEGER},
			#{diffNum, jdbcType=INTEGER},
			#{remark, jdbcType=VARCHAR},
			#{sampleSourceGeneId, jdbcType=VARCHAR}
		)
	</insert>


  <resultMap id="BaseResultMap" type="PolluteRecord">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 30 19:44:06 CST 2013.
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="QCP_ID" jdbcType="VARCHAR" property="qcpId" />
    <result column="MATCHED_SAMPLE_ID" jdbcType="VARCHAR" property="matchedSampleId" />
    <result column="MATCH_DATE" jdbcType="TIMESTAMP" property="matchDate" />
    <result column="SAME_NUM" jdbcType="DECIMAL" property="sameNum" />
    <result column="DIFF_NUM" jdbcType="DECIMAL" property="diffNum" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 30 19:44:06 CST 2013.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 30 19:44:06 CST 2013.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 30 19:44:06 CST 2013.
    -->
    ID, QCP_ID, MATCHED_SAMPLE_ID, MATCH_DATE, SAME_NUM, DIFF_NUM, REMARK
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 30 19:44:06 CST 2013.
    -->
    select
    <include refid="Base_Column_List" />
    from POLLUTE_RECORD
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 30 19:44:06 CST 2013.
    -->
    delete from POLLUTE_RECORD
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="PolluteRecord">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 30 19:44:06 CST 2013.
    -->
    insert into POLLUTE_RECORD (ID, QCP_ID, MATCHED_SAMPLE_ID,
      MATCH_DATE, SAME_NUM, DIFF_NUM,
      REMARK)
    values (#{id,jdbcType=VARCHAR}, #{qcpId,jdbcType=VARCHAR}, #{matchedSampleId,jdbcType=VARCHAR},
      #{matchDate,jdbcType=TIMESTAMP}, #{sameNum,jdbcType=DECIMAL}, #{diffNum,jdbcType=DECIMAL},
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="PolluteRecord">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 30 19:44:06 CST 2013.
    -->
    insert into POLLUTE_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="qcpId != null">
        QCP_ID,
      </if>
      <if test="matchedSampleId != null">
        MATCHED_SAMPLE_ID,
      </if>
      <if test="matchDate != null">
        MATCH_DATE,
      </if>
      <if test="sameNum != null">
        SAME_NUM,
      </if>
      <if test="diffNum != null">
        DIFF_NUM,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="qcpId != null">
        #{qcpId,jdbcType=VARCHAR},
      </if>
      <if test="matchedSampleId != null">
        #{matchedSampleId,jdbcType=VARCHAR},
      </if>
      <if test="matchDate != null">
        #{matchDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sameNum != null">
        #{sameNum,jdbcType=DECIMAL},
      </if>
      <if test="diffNum != null">
        #{diffNum,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="PolluteRecord">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 30 19:44:06 CST 2013.
    -->
    update POLLUTE_RECORD
    <set>
      <if test="qcpId != null">
        QCP_ID = #{qcpId,jdbcType=VARCHAR},
      </if>
      <if test="matchedSampleId != null">
        MATCHED_SAMPLE_ID = #{matchedSampleId,jdbcType=VARCHAR},
      </if>
      <if test="matchDate != null">
        MATCH_DATE = #{matchDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sameNum != null">
        SAME_NUM = #{sameNum,jdbcType=DECIMAL},
      </if>
      <if test="diffNum != null">
        DIFF_NUM = #{diffNum,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="PolluteRecord">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 30 19:44:06 CST 2013.
    -->
    update POLLUTE_RECORD
    set QCP_ID = #{qcpId,jdbcType=VARCHAR},
      MATCHED_SAMPLE_ID = #{matchedSampleId,jdbcType=VARCHAR},
      MATCH_DATE = #{matchDate,jdbcType=TIMESTAMP},
      SAME_NUM = #{sameNum,jdbcType=DECIMAL},
      DIFF_NUM = #{diffNum,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>