<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
 	xmlns:tx="http://www.springframework.org/schema/tx"
 	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/context
   		http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:property-placeholder location="classpath:application.properties" ignore-unresolvable="true"/>

	<!--
		<bean id="propertyConfigurer"
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
				<list>
					<value>classpath:/application.properties/</value>
				</list>
			</property>
		</bean>
 	-->

	<bean id="limsDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${oracle.jdbc.driverClassName}"></property>
		<property name="jdbcUrl" value="${oracle.jdbc.url}"></property>
		<property name="user" value="${oracle.jdbc.username}"></property>
		<property name="password" value="${oracle.jdbc.password}"></property>
		<property name="initialPoolSize" value="10"></property>
		<property name="maxPoolSize" value="15"></property>
		<property name="maxIdleTime" value="30"></property>	<!-- seconds -->
		<property name="acquireIncrement" value="5"></property>	<!-- increment connections when valid pooled connection size is 0 -->
		<property name="idleConnectionTestPeriod" value="60"></property>	<!-- test idle connection in pool per 60 seconds -->
	</bean>

	<bean id="limsSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="limsDataSource" />
        <property name="configLocation" value="classpath:MyBatis-Configuration.xml"></property>
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
    	<constructor-arg index="0" ref="limsSessionFactory" />
    </bean>

	<bean id="baseDao" class="com.lims.dao.LimsBaseDao">
		<property name="sqlSessionTemplate" ref="sqlSession"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="limsDataSource"></property>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>

	<context:annotation-config />
	<context:component-scan base-package="com.lims" />


	<bean id="fileUploadService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.lims.service.fileupload.FileUploadServiceImpl">
				<property name="dao"><ref bean="baseDao"/></property>
				<property name="keyGeneratorService"><ref bean="keyGeneratorService"/></property>
			</bean>
		</property>
	</bean>

	<bean id="baseTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">readOnly</prop>
			</props>
		</property>
	</bean>

</beans>
